*{
    box-sizing: border-box;
    transition: 0.5s;
}
body{
    background-color: rgba(255, 255, 255, 0.15);
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none !important; 
    }
}
.Mycontainer {
    overflow: hidden;
}

.wrapperOuter{

}
.wrapperInner{
    max-width: 1132px;
    margin: 0 auto;
}
.niceh2{
    border-bottom: 2px solid $yellow;
    position: relative;
    padding: 5px;
    padding-left: 22px;
    margin-left: 20px;
    margin-bottom: 10px;
    z-index: -5;
    h2{
        margin: 0;
        font-size: 24*$px;
        color: $yellow;
        max-width: 50%;
        font-weight: 900;
    }
    &:after{
        position: absolute;
        content: "";
        top: 0;
        // right: calc(50% - 20px);
        left: -20px;
        height: 108%;
        width: 40px;
        background: $yellow;
        z-index: -1;
        /* border-top-right-radius: 68px; */
        // border-bottom-left-radius: 55px;
        // border-top-left-radius: 55px;
        border-radius: 50%;
        box-shadow: inset 0 0 10px;
    }
    &:before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        min-width: 50%;
        background: $gray;
        z-index: -1;
        border-top: 2px solid $yellow;
        border-right: 2px solid $yellow;
    }
}

.Header{
    .htopbar{
        background: $gray;
        color: $grey;
        // min-height: 40px;
        // padding-top: 10px 0;
        padding: 5px 0;
        box-shadow: 0 1px 5px $yellow;
        position: fixed;
        opacity: 0.9;
        z-index: 100;
        width: 102%;
        .support{
            // @include responsive(634px){
            //     text-align: center;
            // }
            margin: 5px 0;
            i{
                color: $yellow;
                font-size: 18px;
                font-weight: 900;

            }
        }
        .seconnecter{
            text-align: right;
            padding-top: 5px;
            a{
                padding: 5px 10px;
                background: $yellow;
                border-radius: 10px;
                border: 1px solid darken($yellow, 10%);
                font-weight: bold;
                color: white;
                span{
                    color: white;

                    i{
                        font-size: 18px;
                    }
                }
            }
        }
        .social{
            text-align: center;
            margin: 3px 0;
            // @include responsive(634px){
            //     text-align: center;
            // }
            a{
                color: $yellow;
                font-size: 16px;
                font-weight: 900;
                padding: 2px;
                i{
                    &:hover{
                        // background: $yellow;
                        // padding: 5px;
                        // border-radius: 50%;
                        font-size: 20px;
                    }
                    &.fa-facebook:hover{
                        color: #3b5998;
                    }
                    &.fa-linkedin:hover{
                        color: #007bb5;
                    }
                    &.fa-twitter:hover{
                        color: #55acee;
                    }
                    &.fa-youtube:hover{
                        color: #ff0000;
                    }
                }
            }
        }
    } // HTOPBAR

    .htopannonce{
        background: gray;
        opacity: 0.8;
        position: relative;
        text-align: center;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: gray;
            opacity: 0.8;
            z-index: -1;
        }
        .welcome{
            h3{
                color: $grey;
                font-weight: 900;
                text-shadow: 0 0 2px black;
                margin-bottom: 10px;
                margin: 10px;
            }
            .h4{
                color: $grey;
                font-weight: bolder;
                margin-bottom: 20px;
                position: relative;;
                span{
                    padding: 5px 10px;
                    border-radius: 20px;
                    background: red;
                    border: 1px solid darkred;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: red;
                    z-index: -1;
                    border: 1px solid darkred;
                }
            }
            h5{
                color: red;
                font-weight: bold;
                font-style: oblique;
            }
            img{
                height: 80px;
                width: 80px;
                border-radius: 50%;
            }
            h4{
                color: $yellow;
                font-size: 23px;
                font-weight: bold;
                text-shadow: 0 0 3px black;
                margin-bottom: 20px;
            }
        }

        .logo{
            img{
                height: 70px;
                width: 70px;
                border-radius: 50%;
                margin: 10px;
            }
        }
    } // HTOPANNONCE

    .hnavbar{
        background: $gray;
        color: $grey;
        padding: 10px 0;
        font-weight: 900;
        // box-shadow: 0 5px 5px black, 0 -5px 5px black;
        border-bottom: 1px solid $yellow;
        border-top: 1px solid $yellow;
        .navleft{
            font-weight: 900;
            color: $yellow;
            @include responsive(794px){
                text-align: center;
            }
            @media screen and (min-width:634px) {
                    text-align: center;
            }
        }
        .navmiddle{
            ul{
                padding-left: 0;
                margin-bottom: 5px;
                display: flex;
                justify-content: center;
                li{
                    list-style: none;
                    padding: 0 5px;
                    border-right: 1px solid darken($gray, 5%);
                    &:last-child{
                    border-right: 0px solid;
                    }
                }
            }
        }
        .navright{
            text-align: right;
            // @include responsive(794px){
            //     text-align: center;
            // }
            @media screen and (max-width:634px) {
                    text-align: center;
            }
            a{
                color: $grey;
                padding: 5px 10px;
                background: $green2;
                border: 1px solid darken($green2, 10%);
                border-radius: 10px;
                font-weight: bold;
            }
        }
    } // HNAVBAR
} // HEADER

.Islider{
    .sliderwrapper{
        position: relative;
        height: 80vh;
        width: 100vw;
        img{
            height: 80vh;
            width: 100vw;
        }
        .innerdiv{
            // right: 20px;
            // top: 20px;
            // bottom: 20px;
            width: 75%;
            height: 72vh;
            margin: 4vh 2vh;
            padding: 10px;
            background: rgba(247,183,51,0.8);
            position: relative;
            text-align: right;
            &:before{
                content: "";
                position: absolute;
                top: -5px;
                left: -5px;
                bottom: -5px;
                right: -5px;
                border: 2px solid $yellow;
            }
            h2{
                
            }
            p{
                min-height: 130px;
                span{
                    &.lock{

                    }
                }
            }
            .buttons{
                a{
                    color: $yellow;
                    .btn{
                        background: $gray;
                        margin: 5px;
                        color: white;
                        border-radius: 0;
                        &.left{
                            background: $green2;
                        }
                        &.right{
    
                        }
                    }
                }
            }
        }
    }
    .prevnext{
        // position: absolute;
        // bottom: -50%;
        // right: 60px;
        text-align: center;
        background: linear-gradient(to right,$yellow, $gray,$yellow);
        padding: 10px;
        button{
            background: $yellow;
            outline: none;
            border: 1px solid;
            margin: 5px;
            width: 80px;
            border-radius: 15px;
            &.prev{

            }
            &.next{

            }
        }
    }
} // ISLIDER

.Whoweare{
    text-align: center;
    margin: 50px 0;
    h1{
        font-size: 26px;
        font-weight: 900;
        color: $yellow;
        letter-spacing: 5px;
        text-shadow: 0 0 4px black;
    }
    h2{
        font-size: 18px;
        font-weight: 600;
        // color: red;
    }
    .p{
        font-size: 16px;
        font-weight: normal;
        // color: $yellow;
        max-width: 800*$px;
        margin: 15*$px auto;
        b{
            color: $yellow;
        }
    }
    h4{
        font-size: 18px;
        font-weight: 900;
        color: $yellow;
        margin: 20px 0 30px;
        text-shadow: 0 0 1px black;
        letter-spacing: 2px;
        transform: scaleY(1.5);
    }

    .nosservices{
        text-align: center;
        .singleservice{
            padding: 10px;
            background: rgba(247, 183, 51, 0.8);
            position: relative;
            cursor: pointer;
            &:before{
                content: "";
                position: absolute;
                left: -4px;
                bottom: -4px;
                right: -4px;
                top: -4px;
                border: 2px solid;
                box-shadow: 0 0 10px;
            }
            &:hover{
                background: linear-gradient(120deg,$yellow 75%, $gray);
                box-shadow: 0 0 15px;
                transform: scale(1.05);
                a{
                    i{
                        margin: 0 3px;
                    }
                }
            }
            i{
                font-size: 45*$px;
            }
            h2{
                margin: 5px 0;
            }
            p{
            
            }
            a{
                color: inherit;
                font-weight: 700;
                i{
                    font-size: inherit;
                }
            }
        }
    } // NOS SERVICES

} // WHO WE ARE
.Dejainscrites{
    .wrapperInner{
        background: rgba(247, 183, 51, 0.8); //#6eaf4e
        padding: 10px;
        position: relative;
        border-radius: 5px;
        &:before{
            content: "";
            position: absolute;
            top: -5px;
            bottom: -5px;
            left:5px;
            right:5px;
            background: #c1993e;
            z-index: -1;
            border-radius: 5px;
        }
        &:after{
            content: "";
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: 10px;
            right: 10px;
            background: #f8c55b; //#6eaf4e
            border-radius: 5px;
            z-index: -2;
        }
    }
    .dejanav{
        .dtop{
            text-align: center; 
            h1{
                font-size: 22*$px;
            }
            input{
                width: 80%;
                padding: 10px;
                text-align: center;
                border: 0 solid;
                border-radius: 15px;
                background: rgba(247, 183, 51, 0.8);
                outline: none;
                box-shadow: 0 0 5px;
                &:focus{
                    width: 85%;
                    transition: width 1s;
                }
            }
        }
        .dbottom{
            text-align: center;
            padding: 10px;
            .tous{

            }
            .categories{
                // text-align: center;
                h5{

                }
                select{
                    display: none;
                    option{

                    }
                }
            }
            .recherche{
                .rechercheinput{
                    width: 180px !important;
                    padding: 2px 2px;
                    background: rgba(247, 183, 51, 0.8);
                    border-radius: 20px;
                    .input-group{
                        // width: 180px !important;
                        // padding: 2px 2px;
                        // background: rgba(247, 183, 51, 0.8);
                        // border-radius: 20px;
                        input{
                            border-top-right-radius: 20px;
                            border-bottom-right-radius: 20px;
                            transition: width 1s;
                            padding: 10px;
                            text-align: center;
                            border: 0 solid;
                            // border-radius: 15px;
                            background: rgba(247, 183, 51, 0.8);
                            outline: none;
                            box-shadow: 0 0 5px;
                            color: inherit;
                        }
                        span{
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            padding: 10px;
                            text-align: center;
                            border: 0 solid;
                            // border-radius: 15px;
                            background: rgba(247, 183, 51, 0.8);
                            outline: none;
                            box-shadow: 0 0 5px;
                        }
                        i{
                            transform: rotate(85deg);
                        }
                        input.form-control{
                            // transition: width 0.5ms;
                            .input-group-addon:last-child {
                                border-left: 0;
                                border-bottom-left-radius: 20px;
                                border-top-left-radius: 20px;
                                margin-left: -10px;
                            }
        
                            &:focus{
                                width: 200px;
                                border: none;
                                transition: width 1s;
                            }
                        }
                    }
                }
            }
        }
    }
    .societes{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5px;
        margin-top: 15px;
        background: white;
        box-shadow: inset 0 0 10px rgba(247, 183, 51, 0.8);
        .societe{
            width: 160px;
            border: 2px solid $yellow;
            padding: 3px;
            margin: 3px 5px;
            text-align: center;
            img{
                width: 100%;
                height: 100px;
            }
            h3{
                font-size: 14px;
                font-weight: bold;
                color: $yellow;
            }
            p{
                font-size: 12px;
                span{
                    
                }
            }
            a{
                text-align: right;
                i{

                }
            }
        }
    }
    .ps{
        text-align: right;
        a{
            color: $gray;
        }
    }
} // DEJA INSCRITES

.Temoignages{
    text-align: center;
    display: flex !important;
    align-items: center;
    align-content: center;
    min-height: 75vh;
    margin-bottom: 50px;
    position: relative;
    overflow-x: hidden;
    margin-top: -10px;
    .temoinwrapper{
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bgvideo{
        // min-height: 100%;
        // min-width: 100%;
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        video{
            width: 100%;
        height: 100%;
        }
    }
    .bgoverlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(247, 183, 51, 0.8);
        z-index: 1;
    }
    .singletemoin{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // align-content: center;
        z-index: 5;
        img{
            text-align: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid $yellow;
        }
        h4{
            font-size: 18px;
            border-bottom: 0;
        }
        span{
            color: $yellow;
            opacity: 0.7;
        }
        h6{
            font-size: 14px;
            font-style: italic;
        }
        p{
            font-size: 13px;
            padding-bottom: 20px;
        }
    }
    // .dottemoin{
    //     color: green;
    // }
    .slick-dots {
        bottom: -32px;
        width: 100%;
        max-width: 100vw;
        margin: 0;
        list-style: none;
        text-align: center;
        // z-index: 10000;
        // color: green;
        // background: gray;
        height: 50px;
        padding: 15px;
        li{
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            button{
                font-size: 16px;
                line-height: 0;
                display: block;
                width: 40px;
                height: 40px;
                padding: 5px;
                &:before{
                    font-size: 25px;
                    line-height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    content: '•';
                    text-align: center;
                    opacity: .25;
                    color: $yellow;
                }
            }
        }
    }
}

.Video{
    padding: 75px 5px;
    .vleft{
        iframe{
            width: 100%;
            height: 315px;
        }
    }
    .vright{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 25px;
        line-height: 30px;
        h3{
            text-decoration: underline;
            color: $yellow;
            font-weight: bold;
        }
        p{

        }
        a{
            span{

            }
        }
    }
}

.Nospartenaires{
    padding-bottom: 30px;
    h2{
        
    }
    .logozone{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img{
            width: 120px;
            height: 70px;
            border: 1px solid $gray;
            border-radius: 5px;
            margin: 5px;
            padding: 3px;
        }
    }
}

.Footer {
    // background: rgba(247, 183, 51, 0.8);
    text-align: center;
    position: relative;
    z-index: -2;
    .foverlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(247, 183, 51, 0.95);
        z-index: -1;
    }
    .ftop{
        padding: 30px 10px 0 10px;
        img{
            width: 100px;
            height: 100px;
        }
        span{
            display: block;
            color: darken($yellow, 20%);
            font-weight: bold;
        }
        .ftoptext{
            position: relative;
            &:before, &:after{
                content: "";
                position: absolute;
                width: 150px;
                height: 2px;
                left: 50%;
                transform: translateX(-50%);
                background: darken($yellow, 20%);
            }
            &:before{
                top: 0;
            }
            &:before{
                bottom: 0;
            }
            h2{
                font-size: 22px;
                font-weight: bold;
                padding-top: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p{
    
            }
        }
    }
    .fstaytunned{
        padding: 30px 5px;
        a{
            color: inherit;
            margin: 5px;
            padding: 10px;
            border-radius: 50%;
            background: darken($yellow, 20%);
            box-shadow: 0 0 5px;
            cursor: pointer;
            i{

            }
        }
    }
    .fcopyright{
        background: darken($yellow, 20%);
        padding: 5px;
        font-weight: bold;
        span{
            padding-left: 20px;
        }
        a{
            // padding-left: 20px;
            color:$green2;
        }
    }
}
